@font-face {
    font-family: csFont;
    src: url(../fonts/cs_regular.ttf) format('truetype');
}

@font-face {
    font-family: positecRegular;
    src: url(../fonts/PositecRegular.ttf) format('truetype');
}

body {
    font-family: 'positecRegular';
    font-size: 20px;
    background-color: #080716;
    margin: 0;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #bebebe;
}

main ol {
    background-color: black;
    width: 80%;
    margin: auto;
    padding: 30px;
}

h2,
h3,
p {
    margin-left: 40px;
}

img {
    margin: 0;
    width: 100%;
    top: 0;
}

h1 {
    text-align: center;
    font-family: csFont;
    background-color: black;
    color: white;
    width: 28%;
    margin: auto;
    padding: 30px;
    border-top: 1px solid #6e9bbb;
}

h2,
h3 {
    color: white
}

footer {
    background-color: black;
    color: #a1a1a1;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

#InnledendeBestemmelser,
#kampavvikling {
    border-left: 1px solid #6e9bbb;
    margin-top: 20px;
}