body{
    font-family: 'Calibri';
    font-size: 20px;
    background-color: #e38717;
}

h1{
    color: #e38717;
    background-color: #bebebe;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
    border: 3px solid black;
    margin-top: 2%;
}

li, h3, h2, p{
    margin-left: 35px;
}

ol{
    background-color: #49558f;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    width: 85%;
}

a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    padding: 1.25 1%;
    background-color: #49558f;
    color: white;
    padding: 1%;
    padding-left: 3.5%;
    padding-right: 3.5%;
    font-size: 40px;
    margin-left: 12%;
    border-radius: 20px;
    border: 3px solid black;
}

a:hover {
    background-color: #3b466f;
}

#InnledendeBestemmelser{
    margin-top: 20px;
    border: 3px solid black;
}

#kampavvikling{
    margin-top: 50px;
    border: 3px solid black;
    margin-bottom: 100px;
}