@font-face {
  font-family: csFont;
  src: url("../fonts/cs_regular.ttf");
}
@font-face {
  font-family: PositecRegular;
  src: url("../fonts/PositecRegular.ttf");
}
body {
  font-family: PositecRegular;
  font-size: 20px;
  background-color: #080716;
  color: #bebebe;
}

main {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #bebebe;
}

main ol {
  width: 80%;
  margin: auto;
  background-color: black;
  padding: 30px;
  border-left: 1px solid #6e9bbb;
}

main ol li,
h2,
p {
  margin-left: 20px;
}

h1 {
  text-align: center;
  width: 28%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: csFont;
  border-top: 1px solid #6e9bbb;
  background-color: black;
  padding: 1%;
}

h2 {
  color: white;
  border-left: 1px solid #6e9bbb;
  width: 80%;
  margin: auto;
  background-color: black;
  padding: 30px;
  margin-top: 1%;
}

footer {
  background-color: black;
  color: #a1a1a1;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
